---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";

---

<Base meta_title="About">
  <Page title="¿Quien es Ivan Sosa?">
    <p>
      <strong>Soy apasionado</strong> por impulsar la toma de decisiones estratégicas basadas en datos sólidos y el pensamiento crítico. Mi compromiso es contribuir con soluciones que optimicen la toma de decisiones informadas.
    </p>
    
    <p>
      A pesar de mi reciente graduación, mi experiencia incluye un proyecto significativo realizado como parte de mi título en Ingeniería en Desarrollo de Software. Durante este proyecto, diseñé un sistema para la Asociación Civil <strong>Unión Revolucionaria en Mercado sobre Ruedas</strong>, que abarcó la gestión de miembros, finanzas, noticias y una mesa de ayuda para la organización. Este sistema también proporcionaba informes y estadísticas precisas en tiempo real, lo que permitía tomar decisiones basadas en datos de manera eficaz.
    </p>
    
    <p>
      Además, continuamente busco aprender y mantenerme al día con las últimas herramientas y tecnologías. He invertido en mi desarrollo personal a través de cursos en plataformas como <strong>Platzi</strong> y <strong>Udemy</strong>, lo que me ha permitido adquirir habilidades adicionales y conocimientos técnicos.
    </p>
    
    <p>
      Mi objetivo principal es aplicar mi pasión y habilidades para ser un activo valioso en un entorno laboral. Estoy ansioso por aprovechar al máximo las herramientas tecnológicas disponibles para ofrecer soluciones innovadoras y efectivas en el mundo profesional. Estoy abierto a nuevas oportunidades y desafíos que me permitan seguir creciendo y contribuyendo al éxito de una empresa.
    </p>

    <div style="text-align: center;">
      <p>
        <strong>Certificaciones</strong>
      </p>
      <p>
        <img src="https://i.imgur.com/JcYZuYR.png" alt="Azure AZ 900" style="display: block; margin: 0 auto;">
      </p>
      <p>
        <a href="https://www.credly.com/badges/62114f3a-b265-43b8-83f9-84c5790dfb14?source=linked_in_profile">Ver certificado</a>
      </p>
    </div>
    


    <div style="text-align: center;">
   
      <p>
        <img src="https://i.imgur.com/JAPoBeK.png" alt="Introduction to Cybersecurity" style="display: block; margin: 0 auto;">
      </p>
      <p>
        <a href="https://www.credly.com/badges/dd5f1e34-7edd-45a7-b1c5-b50609d4b0af/linked_in_profile">Ver certificado</a>
      </p>
    </div>
    




  
  </Page>

</Base>
